
body {
	font-family: helvetica;
	font-size: 14px;
}

#menu_bar {
	padding: 0.5em;
	border-bottom: 1px solid #2FBA5B;
	background-color: #ABCDEF;
}

#cy {
	background-color: #ffffd0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	/*top: 600px;*/
	/*z-index: 999;*/
	min-height: 600px;
}

h1 {
	opacity: 0.5;
	font-size: 1em;
}

.add_row{
	font-size: 25px;
}


label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; min-height: 30px; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
